@import url('https://fonts.googleapis.com/css2?family=Exile&family=Pacifico&display=swap');

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emojis {
    display: none;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

#navigation-bar {
    float: right;
    position: relative;
}

#menu:hover {
    cursor: pointer;
}

#menu {
    float: right;
    height: 30px;
    width: 30px;
}

#navigation-bar > div {
    display: none;
    height: auto;
    background-color: cyan;
    padding: 10px;
    margin: 40px -20px auto auto;
    
}

#nav-options {
    list-style-type: none;
    padding: 0;
    width: auto;
}

#result_table {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding: 40px;
}

@keyframes weWon {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.we-won {
    animation: weWon 0.5s ease-in-out;
    animation-iteration-count: infinite;
}

#stopWin {
    margin: auto;
    display: block;
}

.news::after {
    font-size: 20px;
    font-weight: 20;
    display: block;
    text-align: center;
    content: "Open to Everyone"
}