@import url('https://fonts.googleapis.com/css2?family=Exile&family=Pacifico&display=swap');

body {
    background-color: lightcyan;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emojis {
    display: none;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

#navigation-bar {
    float: right;
    position: relative;
}

#menu:hover {
    cursor: pointer;
}

#menu {
    float: right;
    height: 30px;
    width: 30px;
}

#navigation-bar > div {
    display: none;
    height: auto;
    background-color: cyan;
    padding: 10px;
    margin: 40px -20px auto auto;
    
}

#nav-options {
    list-style-type: none;
    padding: 0;
    width: auto;
}

